################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/SerilogWebApi/.vs
/src/SerilogWebApi/bin/Debug/net8.0
/src/SerilogWebApi/obj
